List

In [2]:
A = [1, 2, 3]
print(A)

[1, 2, 3]

In [7]:
A = [0] * 5
print(A)

[0, 0, 0, 0, 0]

Add a element

In [9]:
A = []
A.append(1)
print(A)

[1]

Extend another arrary

In [55]:
l1 = [1,2,3]
l2= [4,5]

l2.extend(l1)
l2

[4, 5, 1, 2, 3]

Remove a last element

In [10]:
del A[-1]
print(A)

[]

In [11]:
# make a copy 
B = [1, 3, 4]
b = B[:-1]
print(b)

[1, 3]

Access

In [14]:
A = [1, 3 ,4]
print(A[0])
print(A[-1])

1
4

Reverse a array

In [15]:
A = [1, 2, 4]
A = A[::-1]
print(A)

[4, 2, 1]

In [17]:
A = [1, 3, 5, 6]
A.reverse()
print(A)

[6, 5, 3, 1]

Reverse with a range

In [22]:
A = [1, 2, 3, 4, 5, 6]
print (A[:1] + A[2:0:-1] + A[3:])
# 注意这里的链接必须都是array， 要是其中有一个是integer， 会出错的

[1, 3, 2, 4, 5, 6]

List to string

In [28]:
A = [1, 2, 3]
A = [str(s) for s in A] # 此处也可以用map
s = ("").join(A)
print(s)


A = ["Peter","Lu" ]
s = " * ".join(A)
print(s)

123
Peter * Lu

Sort array

ascending order

In [39]:
a = [1, 3, 4, 10, 6]
a.sort() # in-place 
print(a)

[1, 3, 4, 6, 10]

decending order

In [38]:
a = [1, 9, 4, 10, 8]
a.sort(reverse = True)
print(a)

[10, 9, 8, 4, 1]

two elements:

In [2]:
res = [(40, 'c'), (40, 'b'),(30, 'a')]
# decending order 
res.sort(key = lambda x : (x[0], x[1]), reverse = True)
print(res)

[(40, 'c'), (40, 'b'), (30, 'a')]

In [3]:
res = [(40, 'c'), (40, 'b'),(30, 'a')]
# decending order 
res.sort(key = lambda x : (-x[0], x[1]), reverse = True)
print(res)

[(30, 'a'), (40, 'c'), (40, 'b')]

key fucntion

In [53]:
a = "Peter knows what to work on this project"
arr = a.split(" ")
print(arr)
arr.sort(key = lambda x : len(x))
print(arr)

arr.sort(key = len)
print(arr)

arr.sort(key = lambda x :(-len(x), x))# 如果len 一样， 按照alphabatic 排序
print(arr)

arr.sort(key = str.lower)
print(arr)

['Peter', 'knows', 'what', 'to', 'work', 'on', 'this', 'project']
['to', 'on', 'what', 'work', 'this', 'Peter', 'knows', 'project']
['to', 'on', 'what', 'work', 'this', 'Peter', 'knows', 'project']
['project', 'Peter', 'knows', 'this', 'what', 'work', 'on', 'to']
['knows', 'on', 'Peter', 'project', 'this', 'to', 'what', 'work']

sorted, return a new list: sorted(arr, key = , reverse = )

In [54]:
student_tuples = [
     ('john', 'A', 15),
     ('jane', 'B', 12),
     ('dave', 'B', 10),
 ]
sorted(student_tuples, key=lambda student: student[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [2]:
p = []
p.append([1, -1])
p.append([0, 1])
p.append([2, 1])
p.append([2,-1])
sorted(p)

[[0, 1], [1, -1], [2, -1], [2, 1]]

2-D Array 2 row and 5 col

In [29]:
a = [[0] * 5 for _ in range(2)]
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [34]:
a = [[0 for x in range(5)] for y in range (2)]
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [35]:
a[1][4] = 3
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 3]]

In [1]:
a = [3, 4, 6]
import bisect
i = bisect.bisect(a, 0)
i

0

In [15]:
a = [3, 4, 6]
import bisect
i = bisect.bisect(a, 3)
print (i)

j = bisect.bisect_left(a, 3)
print (j)

1
0

In [8]:
a = [3, 4, 4, 6]
import bisect
i = bisect.bisect(a, 4)
print (i)

3

In [7]:
a = [3, 4, 4, 6]
import bisect
i = bisect.bisect_left(a, 4)
print (i)

1

In [13]:
a = [3, 4, 4, 6]
import bisect
i = bisect.bisect_right(a, 4)
print (i)

3

In [11]:
a = [3, 4, 4, 6]
import bisect
i = bisect.bisect_left(a, 10)
print (i)

4

In [1]:
a = []
a + [1]

[1]