String

In [2]:
s = ""
s

''

In [4]:
s = str()
s

''

In [6]:
s = "Peter works hard"
s

'Peter works hard'

In [9]:
ls = ['Peter', "and", "Lulu"]
s = (" ").join(ls)
s

'Peter and Lulu'

slice

In [11]:
s = "Peter, Do your homework"
s[0:5]

'Peter'

In [12]:
s += "right now"
s

'Peter, Do your homeworkright now'

change number to string

In [13]:
x = 12345
s = str(x)
s

'12345'

change string to number

In [14]:
s = "123"
x = int(s)
x

123

char to number

In [16]:
c = '9'
x = ord(c) - ord('0')
x

9

int to char array

In [17]:
n = 1234
ls = list(str(n))
ls

['1', '2', '3', '4']

char array to int

In [18]:
arr = ['1', '2', '3', '4']
n = int(("").join(arr))
n

1234

intmax

In [19]:
1<<31-1

1073741824