String

In [2]:
s = ""
s

''

In [4]:
s = str()
s

''

In [6]:
s = "Peter works hard"
s

'Peter works hard'

In [9]:
ls = ['Peter', "and", "Lulu"]
s = (" ").join(ls)
s

'Peter and Lulu'

slice

In [11]:
s = "Peter, Do your homework"
s[0:5]

'Peter'

In [12]:
s += "right now"
s

'Peter, Do your homeworkright now'

change number to string

In [13]:
x = 12345
s = str(x)
s

'12345'

change string to number

In [14]:
s = "123"
x = int(s)
x

123

char to number

In [16]:
c = '9'
x = ord(c) - ord('0')
x

9

int to char array

In [17]:
n = 1234
ls = list(str(n))
ls

['1', '2', '3', '4']

char array to int

In [18]:
arr = ['1', '2', '3', '4']
n = int(("").join(arr))
n

1234

intmax

In [19]:
1<<31-1

1073741824

In [20]:
c = '123abc'
for cc in c:
    print(cc.isdigit())
    print(cc.isalphabatic())

True
True
True
False
False
False

Dont need to worry about the closing index

In [7]:
s = "peter"
n = len(s)
n
s[0:8] == "peter"

True

str is immutable

In [2]:
a = "123"
a = list(a)
a[2] = 5
a

['1', '2', 5]

In [3]:
a = "abced"
a = a[:2] + "1" + a[3:]
a

'ab1ed'

In [7]:
a = "1234"
b = int(a[2:])
b

34

string startswith

In [6]:
s = "aabbc"
print(s.startswith("aa",0))
print(s.startswith("aab"))

True
True

alphbatic and digit

In [12]:
a = "=A10*5*A77*(B2+3/C3)"
for x in a:
    print(x.isalpha(), x.isdigit())

False False
True False
False True
False True
False False
False True
False False
True False
False True
False True
False False
False False
True False
False True
False False
False True
False False
True False
False True
False False

In [21]:
c = '0'
b = '1'

str((int(c)-1)%10)

'9'